include components/head.pug
include components/header.pug

// Breadcrumb section start
section.breadcrumb-section.section-b-space
  ul.circles
    li
    li
    li
    li
    li
    li
    li
    li
    li
    li
  .container
    .row
      .col-12
        h3 Контакты
        nav
          ol.breadcrumb
            li.breadcrumb-item Будем рады видеть вас у нас в офисе, <br /> ответить на любые вопросы, показать интересующий вас товар.
// Breadcrumb section end

// Contact Section Start
section.contact-section
  .container
    .row.g-4
      .col-lg-4
        .contact-details
          div
            .contact-box
              .contact-icon
                i(data-feather='map-pin')
              .contact-title
                h4 Адрес :
                p Огонбаева, 222
            .contact-box
              .contact-icon
                i(data-feather='phone')
              .contact-title
                h4 Номер :
                p 0 777 90 22 33
                p 0 312 90 22 33
            .contact-box
              .contact-icon
                i(data-feather='clock')
              .contact-title
                h4 Режим работы :
                p
                | Пн-Пт 9.00 - 18.00
                | Сб 9.00 - 18.00
                | Воскресенье выходной
      .col-lg-4
        .contact-details
          div
            .contact-box
              .contact-icon
                i(data-feather='map-pin')
              .contact-title
                h4 Адрес :
                p Эркиндик, 7
            .contact-box
              .contact-icon
                i(data-feather='phone')
              .contact-title
                h4 Номер :
                p 0 777 90 22 34
                p 0 312 90 22 34
            .contact-box
              .contact-icon
                i(data-feather='clock')
              .contact-title
                h4 Режим работы :
                p
                | Пн-Пт 9.00 - 18.00
                | Сб 9.00 - 18.00
                | Воскресенье выходной
      .col-lg-4
        .contact-details
          div
            .contact-box
              .contact-icon
                i(data-feather='map-pin')
              .contact-title
                h4 Адрес :
                p Уметалиева, 84
            .contact-box
              .contact-icon
                i(data-feather='phone')
              .contact-title
                h4 Номер :
                p 0 777 90 22 36
                p 0 312 90 22 36
            .contact-box
              .contact-icon
                i(data-feather='clock')
              .contact-title
                h4 Режим работы :
                p
                | Пн-Пт 9.00 - 18.00
                | Сб 9.00 - 18.00

                | Воскресенье выходной

// Contact Section End



include components/footer.pug
include components/scripts.pug
