// footer start
footer.footer-sm-space
  .main-footer
    .container
      .row.gy-4
        .col-xl-3.col-lg-4.col-md-6
          .footer-contact
            .brand-logo
              a.footer-logo(href='index.html')
                img.img-fluid.blur-up.lazyload(src='/assets/images/logo_pr.png' alt='logo' width="130px")
            ul.contact-lists
              li
                span
                  b Номер:
                  span.font-light 0 777 90 22 33
              li
                span
                  b Адрес:
                  span.font-light
                    | Огонбаева, 222
              li
                span
                  b Email:
                  span.font-light  kg.kanzler@gmail.com
        .col-lg-2.col-md-4.col-sm-6
          .footer-links
            .footer-title
              h3 О нас
            .footer-content
              ul
                li
                  a.font-dark(href='/') Главная
                li
                  a.font-dark(href='/about-us') О компании
                li
                  a.font-dark(href='/contacts') Контакты
        .col-xl-2.col-lg-3.col-md-4.col-sm-6
          .footer-links
            .footer-title
              h3 Ассортимент
            .footer-content
              ul
                li
                  a.font-dark(href='/office-shop') Офисные принадлежности
                li
                  a.font-dark(href='/shool-shop') Школьные принадлежности
                li
                  a.font-dark(href='/art-shop') Творческие материалы
        .col-xl-3.col-lg-4.col-sm-6.d-none.d-sm-block
          .footer-newsletter
            h3 Подпишитесь на наши обновления
            form#mc-embedded-subscribe-form.form-newsletter.needs-validation(action='https://pixelstrap.us19.list-manage.com/subscribe/post?u=5a128856334b598b395f1fc9b&id=082f74cbda' method='post' name='mc-embedded-subscribe-form' target='_blank')
              .input-group.mb-4
                input.form-control(type='text' placeholder='Ваш Email')
                span#basic-addon4.input-group-text
                  i.fas.fa-arrow-right
              p.font-dark.mb-0
                | Будьте в курсе наших последних новостей и специальных предложений.
// footer end
