// banner section 2 start
section.banner-style-2.offer-banner
  .container
    .row
      .col
        .title.title-2.text-center
          h2 &Scy;&pcy;&iecy;&tscy;&icy;&acy;&lcy;&softcy;&ncy;&ycy;&iecy; &pcy;&rcy;&iecy;&dcy;&lcy;&ocy;&zhcy;&iecy;&ncy;&icy;&yacy;
          h5.text-color &tcy;&ocy;&lcy;&softcy;&kcy;&ocy; &dcy;&lcy;&yacy; &vcy;&acy;&scy;
    .row.gy-4
      .col-lg-6.ratio2_1
        .collection-banner.p-right.text-right
          a.banner-img(href='shop-left-sidebar.html')
            img.bg-img.blur-up.lazyload(src='assets/images/fashion/banner/4.jpg' alt='')
          .banner-text
            .banner-content
              span.span-top
                | &Scy;&kcy;&icy;&dcy;&kcy;&icy;
                span.theme-color 50%
              h2
                | &Ncy;&acy; &vcy;&scy;&iecy; &shcy;&kcy;&ocy;&lcy;&softcy;&ncy;&ycy;&iecy; &tcy;&ocy;&vcy;&acy;&rcy;&ycy;
                br
                span.theme-color -50%
              button.btn.btn-solid-default(onclick="location.href = 'shop-left-sidebar.html';" type='button')
                | &Ncy;&acy;&chcy;&acy;&tcy;&softcy; &pcy;&ocy;&kcy;&ucy;&pcy;&kcy;&icy;
      .col-lg-6
        .row.gy-4
          .col-lg-12.ratio_40
            .collection-banner.p-left.banner-title
              a.banner-img(href='shop-left-sidebar.html')
                img.bg-img.blur-up.lazyload(src='assets/images/fashion/banner/5.jpg' alt='')
              .banner-text
                .banner-content
                  h3.h-bottom
                    | New Hoodies from
                    span.theme-color $34
                  button.btn.btn-solid-default(onclick="location.href = 'shop-left-sidebar.html';" type='button')
                    | Shop Now
          .col-sm-6.ratio2_3
            .collection-banner.p-center.text-center(style='background-color: rgb(231, 191, 12)')
              a.banner-img(href='shop-left-sidebar.html')
                img.bg-img.blur-up.lazyload(src='assets/images/fashion/banner/6.jpg' alt='')
              a.contain-banner(href='shop-left-sidebar.html')
                .banner-content.with-bg
                  h3.mb-1 New jacket
                  span Discount -70%
          .col-sm-6.ratio2_3
            .collection-banner.p-center.text-center
              a.banner-img(href='shop-left-sidebar.html')
                img.bg-img.blur-up.lazyload(src='assets/images/fashion/banner/7.jpg' alt='')
              a.contain-banner(href='shop-left-sidebar.html')
                .banner-content.with-bg
                  h3.mb-1 New jacket
                  span Discount -70%
// banner section 2 end
