// category section start
section.category-section.ratio_40
  .container-fluid
    .row.gy-3
      .col-xxl-2.col-lg-3
        .category-wrap.category-padding.category-block.theme-bg-color
          div
            h2.light-text &kcy;&acy;&tcy;&iecy;&gcy;&ocy;&rcy;&icy;&icy;
            h2.top-spacing &Kcy;&acy;&tcy;&acy;&lcy;&ocy;&gcy;
            span &Tcy;&ocy;&vcy;&acy;&rcy;&ocy;&vcy;
      .col-xxl-10.col-lg-9
        .category-wrapper.category-slider1.white-arrow.category-arrow
          div
            a.category-wrap.category-padding(href='shop-left-sidebar.html')
              img.bg-img.blur-up.lazyload(src='assets/images/fashion/category/1.jpg' alt='category image')
              .category-content.category-text-1
                h3.theme-color &Ocy;&fcy;&icy;&scy;
          div
            a.category-wrap.category-padding(href='shop-left-sidebar.html')
              img.bg-img.blur-up.lazyload(src='assets/images/fashion/category/2.jpg' alt='category image')
              .category-content.category-text-1
                h3.theme-color &SHcy;&kcy;&ocy;&lcy;&acy;
          div
            a.category-wrap.category-padding(href='shop-left-sidebar.html')
              img.bg-img.blur-up.lazyload(src='assets/images/fashion/category/3.jpg' alt='category image')
              .category-content.category-text-1
                h3.theme-color &Tcy;&vcy;&ocy;&rcy;&chcy;&iecy;&scy;&tcy;&vcy;&acy;
// category section end