// service section start
section.service-section.service-style-2.section-b-space
  .container
    .row.g-4.g-sm-3
      .col-xl-3.col-sm-6
        .service-wrap
          .service-icon
            svg
              use(xlink:href='assets/svg/icons.svg#customer')
          .service-content
            h3.mb-2 Надёжный помощник!
            span.font-light Консультация клиентов во всех <br /> соц.сетях
      .col-xl-3.col-sm-6
        .service-wrap
          .service-icon
            svg
              use(xlink:href='assets/svg/icons.svg#shop')
          .service-content
            h3.mb-2 3 Филиала
            span.font-light
              | Удобное расположение в <br /> центре города.
      .col-xl-3.col-sm-6
        .service-wrap
          .service-icon
            svg
              use(xlink:href='assets/svg/icons.svg#secure-payment')
          .service-content
            h3.mb-2 &Bcy;&iecy;&zcy;&ocy;&pcy;&acy;&scy;&ncy;&acy;&yacy; &ocy;&pcy;&lcy;&acy;&tcy;&acy;
            span.font-light &Mcy;&ycy; &gcy;&acy;&rcy;&acy;&ncy;&tcy;&icy;&rcy;&ucy;&iecy;&mcy; &zcy;&acy;&shchcy;&icy;&tcy;&ucy; &vcy;&acy;&shcy;&icy;&khcy; &fcy;&icy;&ncy;&acy;&ncy;&scy;&ocy;&vcy;&ycy;&khcy; &tcy;&rcy;&acy;&ncy;&zcy;&acy;&kcy;&tscy;&icy;&jcy;.
      .col-xl-3.col-sm-6
        .service-wrap
          .service-icon
            svg
              use(xlink:href='assets/svg/icons.svg#return')
          .service-content
            h3.mb-2 &Bcy;&iecy;&scy;&pcy;&lcy;&acy;&tcy;&ncy;&ycy;&jcy; &vcy;&ocy;&zcy;&vcy;&rcy;&acy;&tcy;
            span.font-light 30 &dcy;&ncy;&iecy;&jcy; &ncy;&acy; &lcy;&iecy;&gcy;&kcy;&icy;&jcy; &icy; &bcy;&iecy;&scy;&pcy;&lcy;&acy;&tcy;&ncy;&ycy;&jcy; &vcy;&ocy;&zcy;&vcy;&rcy;&acy;&tcy;.
// service section end
