// home slider start
section.home-section.home-style-2.pt-0
  .container-fluid.p-0
    .slick-2.dot-dark
      div
        .home-slider
          .home-wrap.row.m-0
            .col-xxl-3.col-lg-4.p-0.d-lg-block.d-none
              .home-left-wrapper
                div
                  h2 Ежедневник Brunnen
                  p
                    | Ваш надежный спутник в организации времени и воплощении идей.
                  h3
                    | 400 сом
                    br
                    span.theme-color.td 750 сом
                  ul.selection-wrap
                  //- .add-btn
                  //-   a.btn.btn-white(href='cart.html') &vcy; &kcy;&ocy;&rcy;&zcy;&icy;&ncy;&ucy;
            .col-xxl-9.col-lg-8.p-0.left-content
              img.bg-img.blur-up.lazyload(src='assets/images/fashion/slider/3.jpg' alt='')
              .home-content.row
                .col-xxl-4.col-lg-4.col-md-4.col-sm-5.col-6
// home slider end
